#ifndef UDSCODEGEN_HEADER_H_
#define UDSCODEGEN_HEADER_H_

#include <stdint.h>
#include <stdbool.h>

#include "uds_api.h"

{% for profile in config.profiles %}
/* Profile: {{profile.name}} */

/* Type definitions for {{profile.name}} *******************************************************/

{% for type_def in profile.type_definitions -%}
{% if "UdsStructTypeDefinition" in type_def.__class__.__name__ -%}
typedef struct {
    {%- for member, member_type in type_def.fields.items() %}
    {{member_type.name}} {{member}};
    {%- endfor %}
} {{type_def.get_ctype()}};
{% elif "UdsEnumTypeDefinition" in type_def.__class__.__name__ -%}
typedef enum {
    {%- for value in type_def.values %}
    uds_{{type_def.name}}_{{value}} = {{loop.index0}},
    {%- endfor %}
} {{type_def.get_ctype()}};
{% endif %}
{% endfor -%}

/* Property information for {{profile.name}} ******************************************************/

/* UDS Property IDs */
{% for property in profile.properties -%}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_ID 0x{{'%04X' % property.prop_id}}
{% endfor %}

{%- for property in profile.properties %}
/* {{property.prop_name}} (ID: 0x{{'%04X' % property.prop_id}}) type information */
{%- if "UdsIntTypeDefinition" in property.typedef.__class__.__name__ %}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_STORAGE uds_storage_class_{{property.storage_class}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_TYPE {{property.typedef.get_ctype()}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_MIN {{property.min}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_MAX {{property.max}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_DEFAULT {{property.default_value}}
{%- elif "UdsBoolTypeDefinition" in property.typedef.__class__.__name__ %}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_STORAGE uds_storage_class_{{property.storage_class}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_TYPE {{property.typedef.get_ctype()}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_DEFAULT {{"true" if property.default_value else "false"}}
{%- elif "UdsEnumTypeDefinition" in property.typedef.__class__.__name__ %}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_STORAGE uds_storage_class_{{property.storage_class}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_TYPE {{property.typedef.get_ctype()}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_DEFAULT uds_{{property.typedef.name}}_{{property.default_value}}
{%- elif "UdsStructTypeDefinition" in property.typedef.__class__.__name__ %}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_STORAGE uds_storage_class_{{property.storage_class}}
#define UDS_PROP_{{profile.name}}_{{property.prop_name}}_TYPE {{property.typedef.get_ctype()}}
{% endif %}
{% endfor %}

/* Callback prototypes for property change events */
{% for property in profile.properties -%}
void UDS_{{profile.name}}_{{property.prop_name}}_OnChange(void);
{% endfor %}
/* Callback prototype for any property change event */
void UDS_{{profile.name}}_OnPropertyChange(const uds_property_t* property);

/* Container for all properties of {{profile.name}} */
typedef struct {
    {% for property in profile.properties -%}
    UDS_PROP_{{profile.name}}_{{property.prop_name}}_TYPE {{property.prop_name}};
    {% endfor %}
} UDS_{{profile.name}}_Properties_t;

extern UDS_{{profile.name}}_Properties_t UDS_{{profile.name}}_Properties;

/* Reset all properties to their default values */
void UDS_{{profile.name}}_ResetProperties(void);

/* UDS Services ***********************************************************************************/

{% for service in profile.services -%}
#define UDS_SERVICE_{{profile.name}}_{{service.name}}_ID 0x{{'%04X' % service.service_id}}
{% endfor %}

{% for service in profile.services %}
/* {{service.name}} (ID: 0x{{'%04X' % service.service_id}}) */
typedef struct {
    {%- for param in service.params %}
    {{param.param_type.get_ctype()}} {{param.param_name}};
    {%- endfor %}
} UDS_Service_{{profile.name}}_{{service.name}}_RequestContext_t;

typedef struct {
    {%- if service.return_type != 'void' %}
    {{service.return_type.get_ctype()}} return_value;
    {%- endif %}
} UDS_Service_{{profile.name}}_{{service.name}}_ResponseContext_t;

void UDS_{{profile.name}}_{{service.name}}_OnServiceRequest(UDS_Service_{{profile.name}}_{{service.name}}_RequestContext_t*, UDS_Service_{{profile.name}}_{{service.name}}_ResponseContext_t*);

bool UDS_{{profile.name}}_{{service.name}}_HasPendingServiceRequest(void);
void UDS_{{profile.name}}_{{service.name}}_ClearPendingServiceRequest(void);
UDS_Service_{{profile.name}}_{{service.name}}_RequestContext_t* UDS_{{profile.name}}_{{service.name}}_GetPendingServiceRequest(void);
UDS_Service_{{profile.name}}_{{service.name}}_ResponseContext_t* UDS_{{profile.name}}_{{service.name}}_GetPendingServiceResponse(void);
void UDS_{{profile.name}}_{{service.name}}_FinishServiceRequest(uint8_t response_status);

{% endfor %}

{% endfor %}

#endif