#ifndef UDSCODEGEN_HEADER_H_
#define UDSCODEGEN_HEADER_H_

#include <stdint.h>
#include <stdbool.h>

{% for property in profile.properties -%}
#define UDS_APP_PROPERTY_{{property.prop_name}}_ID {{property.prop_id}}
{% endfor %}
{% for property in profile.properties -%}
void UDS_App_OnPropertyChange_{{property.prop_name}}(void);
{% endfor %}

{% for property in profile.properties -%}
{%- if "UdsNumericProperty" in property.__class__.__name__ %}

{%- elif "UdsBooleanProperty" in property.__class__.__name__ %}

{%- elif "UdsEnumProperty" in property.__class__.__name__ %}
{% for value in property.values -%}
#define UDS_APP_PROPERTY_{{property.prop_name}}_VALUE_{{value}} {{loop.index0}}
{% endfor %}
{% endif %}
{% endfor %}

typedef struct {
    {% for property in profile.properties %}
    {{property.get_ctype()}} {{property.prop_name}};
    {% endfor %}
} UDS_AppContainer_t;

extern UDS_AppContainer_t UDS_AppContainer;

#endif