#include "uds_api.h"
#include "uds_line.h"
#include "uds_diag.h"

#include "uds_gen.h"

UDS_AppContainer_t UDS_AppContainer;

void UDS_OnGetProperty(uint16_t property_id) {
    switch (property_id) {
        {% for property in profile.properties %}
        case UDS_APP_PROPERTY_{{property.prop_name}}_ID: {
            {{property.get_ctype()}} value = UDS_AppContainer.{{property.prop_name}};
            UDS_EnqueueGetPropertyResponse(property_id, sizeof(value), (uint8_t*)&value);
            break;
        }
        {% endfor %}
        default:
            // enqueue no scuh property error
            UDS_EnqueueGetPropertyError(property_id, UDS_PROPERTY_GET_RETURN_NO_SUCH_PROPERTY);
            break;
    }
}

void UDS_OnSetProperty(uint16_t property_id, uint8_t size, uint8_t* data) {
    switch(property_id) {
        {% for property in profile.properties %}
        case UDS_APP_PROPERTY_{{property.prop_name}}_ID: {
            if (size != sizeof({{property.get_ctype()}})) {
                UDS_EnqueueSetPropertyResponse(property_id, UDS_PROPERTY_SET_RETURN_WRITE_FAILURE);
                break;
            }
            {{property.get_ctype()}} value = *(({{property.get_ctype()}}*)data);
            UDS_AppContainer.{{property.prop_name}} = value;
            UDS_App_OnPropertyChange_{{property.prop_name}}();
            UDS_EnqueueSetPropertyResponse(property_id, UDS_PROPERTY_SET_RETURN_SUCCESS);
            break;
        }
        {% endfor %}
        default:
            // enqueue no scuh property error
            UDS_EnqueueSetPropertyResponse(property_id, UDS_PROPERTY_SET_RETURN_NO_SUCH_PROPERTY);
            break;
    }
}

void UDS_OnServiceCall(uint16_t service_id, uint8_t size, uint8_t* data) {

}